.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #f2f2f2;
}

.SidebarList {
  list-style: none;
  margin: 0;
  right: 250px;
  text-align: left;
}

.spaceList {
  padding-top: 25px;
}

.row {
  flex-direction: row;

}

.addButton {
  right: 65px;
  top: 50px;
}